body{
    margin: 0;
    background-color:rgb(39, 204, 154,0.5);
    
}
::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }

/* Make scrollbar visible when needed */
::-webkit-scrollbar-thumb {
    background-color: #27CC9A;
    border-radius: 20px;
}

/* Make scrollbar track visible when needed */
::-webkit-scrollbar-track {
    background-color: transparent;
    /* border: 1px solid #27CC9A; */
}
.outer{
    border: 1px solid black;
    height: 80vh;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.left-box{
    /* border: 1px solid black; */
    width: 30%;
    position: relative;
    background-color: white;
}
.left-box h1{
    color:#27CC9A;
    text-align: center;

}
.all-projects{
    display: block;
    margin: 0 auto;
    border-top: 1px solid rgb(0, 0, 0,0.1);
    border-bottom: 1px solid rgb(0, 0, 0,0.1);


    height: 57vh;
    width: 95%;
    overflow: hidden;
    overflow-y: scroll;
}
.create-project-btn{
    border: none;
    color: white;
    background-color:#27CC9A;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    margin-top: 3vh;
    width: 200px;
    transition: 300ms;

}
.create-project-btn:hover{
    background-color: white;
    border: 1px solid rgb(0, 0, 0,0.1);
    transition: 300ms;
    color: #27CC9A;
    cursor: pointer;
}


.right-box{
    /* border: 1px solid black; */
    width: 70%;
    background-color: rgb(230, 230, 230);

}
.right-box h1{
    text-align: center;
    color: #27CC9A;
}
.all-tasks{
    display: block;
    margin: 0 auto;
    /* overflow: hidden;
    overflow-y: scroll; */
    border: 1px solid black;
    height: 57vh;
    width: 95%;
}
.create-task-btn{
    border: none;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    float: right;
    background-color:#27CC9A;
    margin-right: 10px;
    margin-top: 5px;
    transition: 500ms;
    
}
.plus{
    height: 50px;
}
.create-task-btn:hover .plus{
    content: url("cyan-plus.png");
    /* transition: 300ms; */

}
.create-task-btn:hover::after{
    content: "ADD";
    font-size: 28px;
    display: block;
    color:#27CC9A;
    transition: 300ms;


}
.create-task-btn:hover{
    border-radius: 12px;
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0,0.1);
    cursor: pointer;
    transition: 500ms;
    text-align: center;

}


table{
    height: 100%;    
    width: 100%;    
}
#bullet-points{
    color: black;
}
.table-btn{
    background-color: white;
    border: none;
    color: #27CC9A;
    width: 100%;
    font-size: 20px;
    text-align: left;

}
.table-btn:hover{
    background-color: #27CC9A;
    color: white;
    cursor: pointer;
}